@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    min-height: 100vh;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0062be;
    padding: 0 5%;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 10px 5%;
    border: 1px solid #fff;
}

header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

header .nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .nav-bar li {
    display: inline-block;
    padding-left: 40px;
}

header .nav-bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
}

.menu-bar {
    display: none;
    width: 30px;
    height: 30px;
    background: url(images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    filter: invert(0);
}

#nav {
    list-style-type: none;
    position: absolute;
    top: 72px;
    right: 5%;
    width: 90%;
    width: 350px;
    border-color: transparent #fff;
    background: #0062be;
    border-width: 1px;
    border-style: solid;
    max-height: 0;
    overflow: hidden;

}

#nav li {
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding: 5px
}

#nav li:last-child {
    margin-bottom: 0;
}

#nav li a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.main-content .text-box {
    position: relative;
    max-width: 600px;
}

.main-content .text-box h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.main-content .text-box span {
    font-size: 2em;
}

.main-content .text-box p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.main-content .text-box a {
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #0a0a0a;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 15px;

}

.main-content .imgbox {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    width: 90%;
}

.main-content .imgbox img {
    max-width: 230px;
    object-fit: cover;
}

.social-links {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.social-links a {
    text-decoration: none;
    padding-top: 15px;
}

.social-links a img {
    width: 20px;
    height: 20px;
    max-width: 100%;
    filter: invert(1);
}

.thumb {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumb li {
    padding: 20px;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    width: 40px;
    height: 60px;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}


@media (max-width:1200px) {
    .main-content .text-box {
        max-width: 60%;
    }

    .main-content .imgbox img {
        max-width: 170px;
    }
}

@media (max-width:850px) {
    .main-content {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .main-content .text-box h1 {
        font-size: 2rem;
    }

    .main-content .text-box p {
        font-size: 0.9rem;
    }

    .main-content .text-box {
        max-width: 100%;
    }

    .main-content .imgbox {
        justify-content: start;
        width: 100%;
        margin-top: 20px;
    }

    .main-content .imgbox img {
        max-width: 80px;
    }

    .social-links {
        top: auto;
        flex-direction: row;
        bottom: 0;
    }

    .social-links a {
        margin-left: 20px;
    }

    .thumb {
        left: 0;
    }

    .thumb li img {
        width: 20px;
        height: 40px;
    }
}

@media (max-width:700px) {
    .nav-bar {
        display: none;
    }

    .menu-bar {
        display: flex;
    }

    .menu-bar.active {
        background: url(images/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        filter: invert(0);
    }

    #nav.active {
        max-height: 100vh;
    }

    .main-content.active {
        display: none;
    }

}

@media (max-width:600px) {
    header img {
        width: 30px;
        height: 30px;
    }

    .menu-bar {
        width: 25px;
        height: 20px;
        background-size: 25px;
    }

    .main-content .text-box h1 {
        font-size: 2rem;
    }

    .main-content .text-box p {
        font-size: 0.8rem;
    }

    .main-content .imgbox img {
        max-width: 60px;
    }


}